CompileFlags:
  Add: 
    - "-std=c++11"
    - "-DDEBUG"
    - "-DSTM32F100xB"
    - "-DUSE_HAL_DRIVER"
  Remove:
    - "-mthumb"
    - "-mcpu=*"
    - "-mfloat*"
    - "-mabi*"
  Compiler: g++

Index:
  StandardLibrary: Yes

Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    Add: 
      - modernize-*
      # - performance-*
    Remove:
      - modernize-use-trailing-return-type

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes